<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872903978882-uaomq8mc78qv28ndcpttubm6rsf16mhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872903978882-uaomq8mc78qv28ndcpttubm6rsf16mhs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>872903978882-qdbcc4ha22cvtkijqsiuou2g71cpf9mv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>process.env['GOOGLE_API_KEY_APPLE']</string>
	<key>GCM_SENDER_ID</key>
	<string>872903978882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recycle</string>
	<key>PROJECT_ID</key>
	<string>gomiko-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gomiko-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872903978882:ios:c6c36e0429bd2f3166a99b</string>
</dict>
</plist>